body {
  background-color: midnightblue;
  user-select: none;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  height: 18vh;
  color: white;
  font-weight: bold;
  text-align: right;
  border: solid 1px white;
  border-collapse: collapse;
  background: #24c6dc; /* fallback for old browsers */
  background: linear-gradient(to right, #24c6dc, #514a9d);
  box-shadow: 0px 0px 30px 15px #0ff;
  font-family: "Press Start 2P";
  font-size: 12px;
}

td {
  padding: 2px 2vw;
}

td + td {
  border-left: solid 1px white;
}

/* tr + tr {
  border-top: solid 1px white;
} */

.table-active {
  background: crimson;
}

.flash {
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: 4;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}

#card-container {
  display: flex;
  margin-top: 20px;
}

#game-info {
  display: flex;
  width: 65%;
  align-items: center;
}

.game-output {
  flex: 2;
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: "Press Start 2P", sans-serif;
  font-weight: bold;
}

.blink {
  animation: blinker 1.2s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.bet-credits-label {
  flex: 1;
  text-align: center;
  color: red;
  font-size: 30px;
  text-shadow: 1px 0 yellow, 0 1px yellow, -1px 0 yellow, 0 -1px yellow;
  font-weight: bold;
  font-family: fantasy;
}

#button-container {
  display: flex;
}

.bet-button {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 25px;
  border-radius: 10%;
  font-weight: bold;
  background: ghostwhite;
}

.bet-button:enabled {
  box-shadow: 0px 0px 10px 6px white;
}

#deal-button {
  position: relative;
  background: yellow;
  width: 70px;
  height: 50px;
  border-radius: 10%;
  font-weight: bold;
}

#deal-button:enabled {
  box-shadow: 0px 0px 10px 6px yellowgreen;
}

.bet-button:active,
#deal-button:active {
  top: 2px;
}

button:disabled {
  opacity: 0.5;
  border-color: black;
}

button:enabled:hover,
.card-hover {
  cursor: pointer;
}

.card {
  margin: 0.5vw;
  padding: 0.5vw;
  width: 130px;
  height: 195px;
  text-align: center;
  border: solid 2px;
  border-radius: 8px;
}

.first-load {
  animation: flipInY 5s;
  animation-iteration-count: 1;
}

.draw-swap {
  animation: flipInY 1.2s;
}

.face-down {
  background-color: #dcdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ac9292' fill-opacity='1'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.face-up {
  background: white;
  opacity: 0.5;
}

.suit {
  margin: 3px;
  font-size: 96px;
}

.name {
  /* margin: 5px; */
  font-size: 77px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}

.black {
  color: black;
}

.hold {
  opacity: 1;
}

#mute-button {
  display: none;
  color: white;
}

#mute-button:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  table {
    font-size: 7px;
  }

  .card {
    width: 16vw;
    height: 24vw;
  }

  .name {
    font-size: 9vw;
  }

  .suit {
    font-size: 12vw;
  }

  #game-info {
    flex-direction: column;
    width: 95%;
  }

  .bet-credits-label {
    margin: 20px 0;
    font-size: 24px;
  }

  .game-output {
    margin: 0;
    font-size: 10px;
  }
}
